<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add Product</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="./Register_page/css copy/bootstrap.min.css">
		<link rel="stylesheet" href="./Register_page/css copy/loginStyle.css">
		<link rel="stylesheet" href="css/addProduct.css">
	</head>

	<body class="img js-fullheight" style="background-image: url(./Register_page/images/girlontherise-template-color-1508350042.png);">
		<div class="container-fluid mt-5">
			<h1 class="mb-4 text-center" style="color:rgba(255, 235, 205, 0.943)">Add New Product</h1>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<form id="product-form" enctype="multipart/form-data" class='signin-form'>
							<div class="upload">
							  <input type="file" id="file-input" name="image" />
							  <label for="file-input" class="camera-icon">
								<img
								  src="assets/images/banner-image.jpg"
								  id="productImage"
								  width="150"
								  height="150"
								  alt=""
								/>
								<div class="round">
								  <i class="fa fa-camera" style="color: #fff"></i>
								</div>
							  </label>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Product Name" id="txtProductName" name="name" required>
							</div>
							<div class="form-group">	
								<input type="text" class="form-control" placeholder="Price" id="txtProductPrice" name="price" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="After Offer" id="txtAfterOffer" name="afteroffer" required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Catagory" id="txtCatagory" name="category" required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Quantity" id="txtQuantity" name='quantity' required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Description" id="txtDescription" name='description' required>
							</div>
							
							<span id="msgSpan"></span>
							<div class="form-group mt-4">
								<button class="form-control btn-success btn-outline-primary px-3" style="background-color: rgba(235, 32, 171, 0.811);" id="btnAddProduct">Add Product</button>
							</div>	
							
						</form>
				</div>
			</div>
		</div>
		<script src="js/addProductJs.js"></script>
	</body>
</html>