<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v2 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="./css copy/bootstrap.min.css">
		<link rel="stylesheet" href="./css copy/loginStyle.css">
		<link rel="stylesheet" href="../Login_page/css/login.css">
	</head>

	<body class="img js-fullheight" style="background-image: url(./images/girlontherise-template-color-1508350042.png);">
		<div class="container-fluid mt-5">
			<h1 class="mb-4 text-center" style="color:rgba(255, 235, 205, 0.943)">Create new account</h1>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						
						<form action="#" class="signin-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name" id="txtFirstName">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name" id="txtLastName">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" id="txtUsername">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" id="txtEmail">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" id="txtPassword">
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Confirm Password" id="txtConfirmPassword" autocomplete="off">
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<span id="msgSpan"></span>
							<div class="form-group mt-4">
								<button class="form-control btn-success btn-outline-primary px-3" style="background-color: rgba(235, 32, 171, 0.811);" id="btnRegister">Register</button>
							</div>	
							<p class="w-100 text-center">&mdash; Or Sign up with&mdash;</p>
							<!-- <div class="google-btn">
								<a href="http://localhost:8000/auth/google/signup">
								  <div class="google-icon-wrapper">
									<img
									  class="google-icon"
									  src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
									/>
								  </div>
								  <p class="btn-text"><b>Sign up With Google</b></p>
								</a>
							  </div> -->
							  <p class="w-100 text-center" style="position:relative; top:20px;">&mdash; Or you  have  already  account ?&mdash;</p>

							<div class="form-group mt-4">
								<button class="form-control btn-success px-3" style="background-color: rgba(235, 32, 171, 0.811);position: relative; top:15px"  id="btnSignin">Sign in</button>
							</div>	
						</form>
				</div>
			</div>
		</div>
		<script src="js/register.js"></script>
	</body>
</html>