<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="./css/loginStyle.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(./images/girlontherise-template-color-1508350042.png);">
		<div class="container-fluid mt-5">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>
						<form action="#" class="signin-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" id="txtUsername" required  >
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" id="txtPassword" required >
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit"  class="form-control btn btn-primary submit px-3" id="btnSubmit">Sign In</button>
							</div>
							<span id="msgSpan"></span>

							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Remember Me
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</div>
									<div class="w-50 text-md-right">
										<a href="#" style="color: #fff">Forgot Password</a>
									</div>
							</div>
						</form>
					<div class="w-100 text-center mb-2 bg-dark btn-rounded" style="color:white;height: 50px;font-size:25px;background-color: rgb(28, 183, 28);border-radius: 25px;"><a href="http://127.0.0.1:8000/register">Create new account</a></div>
					<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
					<div class="social d-flex text-center">
						<a href="#" class="p-2 mr-md-1 btn-rounded" style="border-radius: 25px;"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
						<a href="#" class="p-2 ml-md-1 btn-rounded" style="border-radius: 25px;"><span class="ion-logo-twitter mr-2" ></span> Twitter</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	<script src="js/main.js"></script>
	<script src="js/myJs.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>

	</body>
</html>

